@import "../../vars.css";

/* Base Styles */
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.line1,
.line2 {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font: 900 72px/1.2 var(--font-roboto);
  max-width: 100%;
  box-sizing: border-box;
}

.line1 {
  animation: 
    typewriter1 2s steps(50, end) forwards, 
    blinkCaret 0.75s step-end infinite 0.25s, 
    hideCursor 0.75s forwards;
}

.line2 {
  margin-top: 10px;
  opacity: 0;
  animation: 
    typewriter2 2s steps(50, end) 2.1s forwards, 
    blinkCaret 0.75s step-end infinite 1s;
}

@keyframes typewriter1 {
  from { width: 0; opacity: 1; }
  to { width: calc(30px + 100%); opacity: 1; }
}

@keyframes typewriter2 {
  from { width: 0; opacity: 1; }
  to { width: calc(30px + 100%); opacity: 1; }
}

@keyframes blinkCaret {
  0%, 100% { border-color: transparent; }
  50% { border-color: rgb(191, 194, 194); }
}

@keyframes hideCursor {
  0%, 99% { border-right: 0.10em solid rgb(191, 194, 194); }
  100% { border-right: none; }
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 10px rgba(168, 166, 166, 0.25);
}

.heroImg {
  width: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur,
.bottomBlur {
  position: absolute;
  border-radius: 764px;
  background: rgba(45, 50, 58, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.topBlur {
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
}

.bottomBlur {
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 246px;
  right: -25vw;
}

/* Existing Media Query for Tablets and Small Desktops */
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}

/* Additional Media Query for Mobile Phones */
@media screen and (max-width: 480px) {
  .container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .line1,
  .line2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contactBtn {
    font-size: 18px;
    padding: 10px 15px;
  }

  .heroImg {
    width: 100%;
    animation: none;
  }

  .topBlur,
  .bottomBlur {
    display: none;
  }
}
