@import "../../vars.css";

/* Base Styles */
.container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background: linear-gradient(180deg, rgb(54, 55, 55) 50%, rgba(62, 62, 62, 0) 100%);
  box-shadow: 0 16px 14px 0 #1c1c1c;
  padding: 18px 24px;
  max-width: 500px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

/* Existing Media Query for Tablets and Small Desktops */
@media screen and (max-width: 1200px) {
  .container {
    padding: 15px 20px;
    max-width: 90%;
  }

  .title {
    font-size: 22px;
  }

  .description {
    font-size: 20px;
  }

  .skills {
    gap: 10px;
  }

  .skill {
    font-size: 20px;
    padding: 2px 18px;
  }

  .link {
    font-size: 24px;
    padding: 1px 18px;
  }
}

/* Additional Media Query for Mobile Phones */
@media screen and (max-width: 480px) {
  .container {
    margin: 60px 2% 0; 
    padding: 15px 10px; 
    max-width: 100%; 
    border-radius: 15px; 
  }

  .image {
    margin-bottom: 20px; 
    width: 100%; 
  }

  .title {
    font-size: 20px; 
    letter-spacing: 1.5px; 
    text-align: center; 
    margin: 0 0 20px 0; 
  }

  .description {
    font-size: 18px; 
    text-align: center; 
    margin-top: 10px; 
  }

  .skills {
    flex-direction: column; 
    align-items: center;
    gap: 8px; 
  }

  .skill {
    font-size: 18px;
    padding: 2px 16px; 
  }

  .links {
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
    margin-top: 20px; 
  }

  .link {
    font-size: 20px; 
    padding: 5px 18px;
    width: 80%; 
    text-align: center; 
  }


  .link img {
    width: 25px; 
    height: 25px; 
  }
}
