@import "./vars.css";

/* .App {
  background-color: var(--color-bg);
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
} */

.App {
  background-color: var(--color-bg);
  color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  position: relative;
}

